@model Modelo.Cadastros.Curso

@{
    Layout = "_LayoutIES";
}

@section styles {
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css" />
}

    <div class="card-block">
        <div class="card-header text-white bg-secondary text-center h1">
            Exibindo um curso existente
        </div>

        @Html.Partial("~/Areas/Cadastros/Views/Curso/_PartialDetailsContentCard.cshtml", Model)

        <div class="card-footer bg-info text-center text-white">
            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.CursoID">Alterar</a>
            <a asp-action="Index" class="btn btn-warning">Retornar à listagem de cursos</a>
        </div>
    </div>